{% extends 'front_office/layout.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('product_simple', null, 'front_office') }}
{% endblock %}

{% block main %}
    <h1>Produit </h1>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('product_simple', null, 'front_office') }}
{% endblock %}

