{% extends 'front_office/layout.html.twig' %}
{% block links %}
    {{ encore_entry_link_tags('accounting', null, 'front_office') }}
{% endblock %}

{% block main %}

<header>
    <h1>Commande # {{ order.id }}</h1>
</header>

{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('accounting', null, 'front_office') }}
{% endblock %}