@import 'app.scss';

.panier_title{
  margin-left: 32px;
  font-size: 2.5rem;
  color: $darkGrey;
}


.mon_panier{
  .panier_space{
    width: 100%;
    .path{
      font-size: 1.5rem;
      margin: 32px 0 32px 128px;
      p{
        padding: 0 16px;
      }
    }
    table{
      margin: 0 128px;
      border: solid 1px $darkGrey;
      text-align: center;
      thead{
        border-bottom: solid 1px $darkGrey;
        th{
          padding: 16px;
        }
      }
      tbody{
        .table_img{
          padding: 32px 256px;
          img {
            max-width: 250px;
          }
        }
        td{
          vertical-align: middle;
          padding: 16px;
          border: solid 1px $darkGrey;
        }
        font-size: 1.5rem;
      }

    }
  }
  .recapPanier{
    margin: 0px 128px;
    padding: 32px 16px;
    background: $lightGrey;
    h3{
      font-size: 1.8rem;
    }
    p{
      font-size: 1.1rem;
    }
    .sousTot{
      padding: 32px 0 8px 0;
    }
    .livraison{
      padding: 8px 0 16px 0;
    }
    .total{
      padding: 16px 0;
    }
    .price{
      font-size: 1rem;
    }
    .continue a{
      padding: 16px 64px;
      color: white;
      background: $darkGreen;
    }
  }
  .button{
    margin: 32px 128px 0 128px;
    a{
      font-size: 1.2rem;
      margin: 8px 0;
      padding: 16px 16px;
      width: 200px;
      text-align: center;
      border: 2px solid $darkGrey;
    }
    a:hover {
      background: $darkGreen;
      color: white;
      border: 2px $darkGrey solid;
      transition: .4s ease;
    }
  }
}