@import 'app';

.cont-top-produit{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &-img{
    height: 600px;
    width: 450px;
    margin-left: 70px;

    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &-des{
    height: 100%;

    div{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 50px;

      h1{
        color:$darkGreen;
        font-size: $f40;
      }

      p{
        color:$darkGreen;
        font-size: 25px;
        margin-left: 25px;
      }
    }

    .description{
      color:$darkGreen;
      font-size:$f30;
      line-height: 70px;
      width: 420px;
      margin-bottom: 80px;
    }

    .prix{
      color:$lightGreen;
      font-size: $f30;
    }
  }

  &-spec{
    width: 20%;

    .int-spec{
      margin-top: 38%;
      height: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .spec{
        width: 100%;
        height: 33%;

        p:first-child{
          font-size:20px;
        }

        div{
          margin: 20px 0 0 15px;
        }
      }

      .quantite{

        div{
          display: flex;
          justify-content: flex-start;
          align-items: center;

          p{
            color: $darkGreen !important;
            font-size: $f50 !important;
          }

          p.serge-bold{
            padding:0 10px;
          }

          p.serge{
            cursor: pointer;
          }
        }
      }

      .taille{

        div{
          width: 50%;

          ul{
            display: flex;
            justify-content: space-around;
            align-items: center;

            li{
              font-size:25px;
              color:$darkGreen;
              cursor:pointer;
            }
          }
        }
      }

      .couleur{
        div{
          width: 70%;

          ul{
            display: flex;
            justify-content: space-around;
            align-items: center;

            li{
              height: 22px;
              width: 22px;
              border-radius: 50%;
              cursor: pointer;

              &:first-child{
                background: $lightGreen;
              }

              &:nth-child(2){
                background: $lightGrey;
              }

              &:nth-child(3){
                background: $dark;
              }

              &:nth-child(4){
                background:#B48B7D;
              }

              &:last-child{
                background: $darkGreen;
              }
            }
          }
        }
      }
    }
  }

  .btn-ajouter{
    color:$dark;
    font-size: $f40;
    margin-top: 5px;
  }
}

.cont-draglist-product{
  //border: solid;
  margin-top: 75px;
  width: 60%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .draglist{
    width: 100%;
    height: 33.3%;
    border-bottom: solid 1px $dark;

    .title{
      font-size:25px;
      padding: 15px 0;
      cursor: pointer;

      .hide{

        p{
          padding-left:25px !important;

          &:first-child{
            margin-top: 20px;
          }
        }
      }
    }
  }
}